In [29]:
# Imports
import pandas as pd
import altair as alt
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [2]:
# Read in data 
path = '/Users/christiansarmiento/Library/CloudStorage/OneDrive-MaristCollege/Data Visualization/Datasets/Inmate_Admissions.csv'
rawData = pd.read_csv(path)

In [6]:
rawData.head()

,INMATEID,ADMITTED_DT,DISCHARGED_DT,RACE,GENDER,INMATE_STATUS_CODE,TOP_CHARGE
0,10008773,08/23/2018 10:15:28 AM,08/23/2018 11:14:00 AM,UNKNOWN,M,DE,VTL 1192.3
1,20037818,08/05/2018 07:13:46 PM,08/10/2018 04:46:05 PM,UNKNOWN,M,DE,NaN
2,20197484,08/14/2018 02:08:36 AM,NaN,BLACK,F,DE,120.05
3,20150289,08/02/2018 12:05:22 AM,NaN,UNKNOWN,M,DPV,NaN
4,20122449,08/23/2018 06:34:24 PM,NaN,UNKNOWN,M,DE,120.05

In [5]:
rawData['TOP_CHARGE'].unique()

array(['VTL 1192.3', nan, '120.05', '120.13', '140.25', '125.25',
       '260.10', '110-125.25', '220.39', '140.20', '155.30', '220.03',
       '120.00', 'AC 000.00', '160.10', '215.51', '170.30', '220.21',
       '160.15', 'VTL 511', '155.25', 'FOA 900.00', '105.15', '220.16',
       '221.05', '130.75', '170.20', '130.40', '120.10', '170.25',
       '265.02', '110-160.15', '155.35', '110-160.10', '155.40',
       'VTL 509', 'AC 999.99', '110-265.03', '240.26', '165.40', '120.14',
       '110-220.06', '220.43', 'VTL 1190', '265.03', 'CO', '0', '165.15',
       '353-A(1)', '140.15', '165.45', '511(1)(A)', '215.50', '165.10',
       '140.05', '121.12', '110-120.10', '135.25', '105.13', '110-130.35',
       '220.77', '120.20', '130.35', 'VTL 999.99', '220.31', '160.05',
       '110-140.25', '110-165.45', '190.79', '140.30', '263.15', '240.20',
       '165.05', '120.25', '145.00', '220.06', '190.80', '135.65',
       '110-120.07', '110-121.12', '140.35', '110-230.25', '130.60',
       '265.05', '165.50', '110-215.40', '130.65', '110-120.00', '120.01',
       '265.01', '110-120.05', '110-130.30', '275.34', '110-155.30',
       '220.18', 'VOP', '110-265.02', '10-131(B)', '130.52', '140.25H',
       '190.26', '221.40', '121.11', '490.40', '245.00', '110-155.25',
       '195.05', 'AC 888.88', '135.20', '130.25', '110-140.20', '265.01B',
       '130.53', '1192(3)', '110-160.05', '1192(2)', '240.30', '145.10',
       '130.80', '265.04', '200.00', '225.30', 'VTL 1192.2', '110-140.30',
       'CIVIL', '120.06', '145.05', '125.26', '168-T', '105.17', '205.30',
       '215.52', '220.09', '158.05', 'VTL 1192.4', '230.33', '460.20',
       '511(3)(A)', '240.32', '221.10', '110-130.50', '205.25', '190.23',
       '165.06', '1192(4)', '110-120.08', 'OJCW', '130.50', '150.15',
       '190.65', '165.25', '170.15', '221.20', 'VTL 1192M', '125.15',
       '105.05', '190.81', '220.41', '140.10', '190.25', 'VTL 1192.1',
       '130.45', '110-220.43', '145.20', '170.10', '150.10', '215.15',
       '215.55', '168-T(2)', '215.56', '145.15', '110-135.20', '240.50',
       '110-220.16', '110-165.10', '250.45', '220.44', '170.05', '265.09',
       '220.45', '240.55', '165.72', 'VTL 511(3)', 'VTL 888.88',
       '110-155.40', '265.11', '125.20', '230.34', '130.30', '190.78',
       '170.40', '110-170.25', '130.95', '600(2)(A)', '130.96', '155.42',
       '220.65', '120.45', '120.07', '265.08', '240.37', '1192.4',
       '511(2)(A)', '110-215.15', 'AC 666.66', '265.12', '110-265.06',
       'C-COM', 'CCW', '110-220.39', 'VTL 1192.2A', '265.13',
       '110-220.31', '110-220.21', '115.00', '165.16', '221.25', '265.30',
       '230.30', '130.20', '120.50', '240.15', '165.52', '120.02',
       '230.25', '120.14H', '215.11', '125.10', '1192(2)-A', '110-155.35',
       '120.08', '230.00', '110-190.79', '260.32', '110-210.15',
       '511-A(3)', '130.55', '215.10', '175.10', 'VTL 1192A',
       '110-125.27', '205.20', '105.10', '240.08', 'AC 777.77', '240.60',
       '470.15', '120.55', '125.27', '263.11', 'FCW', '220.34', '165.00',
       '120.15', '135.05', '509(10)', 'VTL 666.66', '110-150.15',
       '509(1)-A', '110-220.77', '110-170.20', '175.25', 'VTL 1193-2B1A',
       '215.12', '509(1)', '215.40', '10-131(H)', '110-105.15',
       '511(3)(I)', '215.57', '150.20', '490.20', '225.05', '221.30',
       '110-240.30', '125.14', '260.25', '230.32', '150.01', '110-205.25',
       '110-130.65', '165.30', '120.04', '263.05', '110-190.80', '220.50',
       '110-190.80A', '230.04', '110-130.52', '509.00', '110-120.06',
       'PHL 999.99', '263.10', '1192.30', 'VTL 000.00', '110-170.40',
       '205.17', '205.10', '250.50', '120.00H', '221.15', '175.35',
       '190.85', '1192.2A', '220.05', '1192(6)', '270.25', '110-145.00',
       '470.10', 'VTL 1180', '110-220.09', '110-130.66', '135.60',
       '135.10', '200.03', '110-265.01', '145.60', '263.16', '240.61',
       '120.11', '165.09', '177.25', '265.10', 'VTL 397', '177.15',
       '110-130.35H', '215.00', '205.65', '210.15', '110-125.15',
       '121.13', '110-230.30', '110-155.42', '110-230.34', '110-130.60',
       '110-145.20', '110-220.41', '10-131(I)(3)', '110-215.51',
       '110-221.20', '110-170.30', '230.06', '215.30', 'PHL 888.88',
       '110-150.10', 'VOCD', '110-215.50', '178.10', '110-165.50',
       '240.25', '110-135.25', '176.25', '155.30H', '270.05', '225.10',
       '110-220.34', '165.71', '265.01A', '110-221.25', '130.70',
       '110-220.03', '110-120.25', '110-140.15', '485.05', '110-121.11',
       '110-130.80', 'VTL 1220', '135.35', '120.03', '100.05', '240.06',
       '165.54', '240.05', 'VTL 426', '110-170.70', '130.90', '130.67',
       '120.60', '215.16', '220.60', '110-165.40', '10-131(G)(1)',
       '110-215.56', '1192.10', '110-145.05', '230.20', 'VOPB', '115.05',
       '110-260.10', '600(2)', '150.05', 'PHL 000.00', '240.73',
       '110-221.45', '265.16', '135.45', '20-453', '205.60', 'VTL 512',
       'VTL 1224', 'VTL 1192I', '110-235.22', '1192.4A', 'VTL 1193',
       'VTL 600A', '110-155.25H', '110-120.03', '270.00', '110-145.10',
       '120.18', '110-120.14', '140.25SM', '156.30', '426', '125.20H',
       '110-221.10', '156.05', '240.31', '205.05', 'VTL 1192.3C',
       '110-130.45', '255.27', '190.60', '110-130.55', 'VTL 1192V',
       '110-195.05', '110-205.20', '110-178.10', '275.35', '110-150.01',
       '260.20', '110-165.15', '200.10', '110-205.30', '511-A(4)',
       '190.50', '195.15', '110-120.16', '245.01', '110-263.05', '221.50',
       '240.21', '1192(2)-A(B)', '125.12', '158.15', '110-221.40',
       '110-415-A(1)', '1192.20', 'VTL 600F', '221.35', '215.60',
       'PHL 777.77', 'VTL 777.77', '110-176.30', '110-135.35',
       '110-220.18', 'VTL 600E', '190.42', '145.65', '275.05', '235.22',
       '110-220.44', 'VTL 1192.3A', '195.12', '110-250.45', '250.55',
       '180.15', '235.21', 'VTL 1192E', 'VTL 402', '275.40', '125.40',
       'VTL 1192F', '270.30', '125.13', '245.02', '110-120.11', '210.45',
       '110-135.60', '110-120.20', '110-130.75', '490.50', '110-460.20',
       '200.30', '120.16', '511-D', '240.35', '275.20', '110-130.25',
       '195.16', '470.20', '120.05H', '145.14', '178.15', '210.05',
       '110-490.20', '110-200.20', 'VTL 1192.4C', '170.65', '110-135.65',
       '110-176.20', '110-105.10', '110-150.20', '110-125.20', '240.62',
       '165.08', '221.55', '165.17', 'VTL 1220B', '110-225.10',
       '110-170.65', '176.10', '110-265.11', '110-130.20', 'VTL 1170.C2',
       '265.10B', '175.05', '1192(4)-A', '110-215.52', '195.08',
       '110-140.35', '135.50', '110-245.00', '110-190.26', '275.15',
       '100.10', '158.20', '158.50', '215.25', '235.05', 'VTL 1182',
       'PHL 666.66', '110-165.25', '170.70', '158.10', 'VTL 600B',
       '110-205.65', '1220', '470.05', '125.21', '200.25', '110-120.15',
       '240.71', '110-176.35', '250.30', '175.30', '600(1)(A)', '1192-A',
       '205.55', '215.20', '240.70', '110-230.32', '10-131(E)',
       '110-125.55', '10-125', '187.20', '240.45', '176.20', 'VTL 1229',
       '140.17', '110-105.17', '180.03', 'VTL 1192.2C', '105.00',
       '110-130.40', '110-150.05', '177.20', '110-470.15', '1220-B',
       '110-125.26', '250.45(2)', '156.10', 'GBL 777.77', 'VTL 1120',
       'INS', '120.10H', 'VTL 1110', '110-130.70', 'VTL 1192.4A',
       'VTL 1111', '190.40', '221.45', '250.60', '155.35H', '170.45',
       'VTL 1227', '190.05', '110-200.00', '265.19', '240.75', '263.15SM',
       '490.10', '120.70', '165.11', '230.05', '400.00', '110-120.00H',
       '490.25', '110-120.05H', '240.46', '215.13', '145.10H', '140.20H',
       '10-133(B)', '319(2)', '240.63', '195.00', '110-220.05', '240.30H',
       '215.05', '10-131(I)(2)', '145.40', '135.55', '110-115.05', 'ROW',
       '110-130.65A', '260.00', '120.50H', '195.20', 'VTL 340',
       '110-125.21', '410.40', '200.11', '490.15', '110-130.95',
       '110-170.10', '10-131(C)', '110-265.04', 'VTL 1192.6', '140.40',
       '210.10'], dtype=object)

In [20]:
counts = rawData['TOP_CHARGE'].value_counts()
percentages = counts / rawData['TOP_CHARGE'].count() * 100
percentages.head(10)

155.25    10.545517
220.03     5.718117
120.05     4.435605
120.00     4.099245
265.03     3.684226
160.15     3.413790
220.39     3.002517
220.16     2.950827
140.25     2.787516
160.10     2.472881
Name: TOP_CHARGE, dtype: float64

In [59]:
# Select Top 5 Most Frequent Top Charges & Clean 
selectedVars = ['155.25', '220.03', '120.05', '120.00', '265.03']
freqTopCharge = rawData.loc[rawData['TOP_CHARGE'].isin(selectedVars)]

# Drop NAs
freqTopCharge.dropna(subset=['TOP_CHARGE', 'RACE'])

# Switch Penal Codes to Charges
freqTopCharge['TOP_CHARGE'] = freqTopCharge['TOP_CHARGE'].replace('155.25', 'Petit Larceny')
freqTopCharge['TOP_CHARGE'] = freqTopCharge['TOP_CHARGE'].replace('220.03', '7th Degree Poss. Controlled Substance')
freqTopCharge['TOP_CHARGE'] = freqTopCharge['TOP_CHARGE'].replace('120.05', '2nd Degree Assault')
freqTopCharge['TOP_CHARGE'] = freqTopCharge['TOP_CHARGE'].replace('120.00', '3rd Degree Assault')
freqTopCharge['TOP_CHARGE'] = freqTopCharge['TOP_CHARGE'].replace('265.03', '2nd Degree Possesion of a Weapon')

freqTopCharge

,INMATEID,ADMITTED_DT,DISCHARGED_DT,RACE,GENDER,INMATE_STATUS_CODE,TOP_CHARGE,topcharge_percent,percentages
2,20197484,08/14/2018 02:08:36 AM,NaN,BLACK,F,DE,2nd Degree Assault,NaN,NaN
4,20122449,08/23/2018 06:34:24 PM,NaN,UNKNOWN,M,DE,2nd Degree Assault,NaN,NaN
35,69806,08/01/2018 10:23:54 PM,08/06/2018 02:23:03 AM,UNKNOWN,M,CS,7th Degree Poss. Controlled Substance,NaN,NaN
37,20168601,08/14/2018 04:33:58 PM,NaN,UNKNOWN,F,DE,3rd Degree Assault,NaN,NaN
47,20108743,08/14/2018 04:46:00 PM,NaN,UNKNOWN,M,DEP,3rd Degree Assault,NaN,NaN
...,...,...,...,...,...,...,...,...,...
379015,20224368,04/30/2023 01:37:46 AM,NaN,BLACK,M,DE,Petit Larceny,NaN,NaN
379017,20224370,04/30/2023 11:47:13 AM,NaN,BLACK,M,DE,2nd Degree Assault,NaN,NaN
379019,20224372,04/30/2023 04:33:08 PM,NaN,BLACK,M,DE,3rd Degree Assault,NaN,NaN
379021,20224374,04/30/2023 08:15:29 PM,NaN,UNKNOWN,M,DE,2nd Degree Assault,NaN,NaN
379024,20224377,04/30/2023 11:33:00 PM,NaN,BLACK,M,DE,2nd Degree Possesion of a Weapon,NaN,NaN

In [61]:
# Bar Graph for Top Charge by Race

# Button
selection = alt.selection_single(name='Select gender', 
                                 fields=['RACE'], 
                                 bind=alt.binding_radio(options=['BLACK', 'ASIAN', 'UNKNOWN']))

# Calculate Count
inmateCount = freqTopCharge.groupby('RACE').size().reset_index(name='count')
freqTopCharge = pd.merge(freqTopCharge, inmateCount, on='RACE')

# Chart
chart = alt.Chart(freqTopCharge).mark_bar().encode(alt.Y('TOP_CHARGE', title='Top Charge'),
                                                   alt.X('count(*):Q', title='Count'), 
                                                   color=alt.condition(selection, 
                                                                       'RACE', 
                                                                       alt.value('lightgray')),
                                                  ).properties(title={"text": "Top Charge by Race"}).add_selection(selection)
chart.show()

Displaying chart at http://localhost:53194/

In [36]:
freqTopCharge['RACE'].unique()

array(['BLACK', 'UNKNOWN', 'ASIAN'], dtype=object)